@import '../../../styles/variables';

.metricCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: $spacing-4;
  justify-content: center;
  margin-bottom: $spacing-4;
}

.appointmentGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.gridRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.gridRow2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .appointmentGrid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .metricCardGrid {
    grid-template-columns: repeat(auto-fit, minmax(130px, 2fr));
  }
  .appointmentGrid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 699px) {
  .metricCardGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 430px) {
  .metricCardGrid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 2fr));
  }
}
