@import '@/styles/variables';

.metricModal {
  background: $background;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.metricGrid {
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 800px;
  display: grid;
}

@media screen and (max-width: 785px) {
  .metricGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
