.reports {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.gridRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}