@import '@/styles/variables';

.addNoteModalContainer {
  background: $white;
  border-radius: 24px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: $black;
}

.textarea {
  width: 100%;
  border: 1.5px solid $border-light;
  border-radius: 8px;
  padding: 1.2rem;
  font-size: 1.1rem;
  color: $black;
  resize: none;
  background: $white;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.2s;
}

.textarea:focus {
  border-color: $gray-500;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.footerButton {
  min-width: 110px;
  border-radius: 10px;
  font-size: 1.08rem;
  font-weight: 500;
  box-shadow: none;
  padding: 0.7rem 0;
}