@import '../../../styles/_variables.scss';

.recentActivityWrapper {
  border-radius: 10px;
  background: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: $transition-base;
  padding: 1rem;
  overflow-y: scroll;
  min-height: 420px;
  max-height: 420px;
  box-shadow: $box-shadow-card;

  &:hover {
    transform: scale(1.02);
  }

  .activityInfo {
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .title {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    .controls {
      display: flex;
      gap: 0.5rem;

      .filter {
        padding: 0.5rem 1rem;
        border-radius: 20px;
        border: 1px solid $border-light;
        cursor: pointer;
        font-size: 14px;

        &.active {
          background: $blue-active;
          color: $white;
        }
      }
    }
  }

  .activities {
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    .activity {
      padding: 1rem 1.2rem;
      border: 1px solid $border-light;
      border-radius: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .activityLeft {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .info {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;
          align-items: flex-start;

          .dateWrapper {
            display: flex;
            align-items: center;
            .date {
              font-weight: 600;
              font-size: 14px;
            }
          }

          .status {
            font-size: 10px;
            padding: 0.2rem 0.5rem;
            border-radius: 20px;
            color: $white;
            background: $gray-400;
            width: fit-content;
          }

          .confirmed {
            background: $success-light;
          }

          .pending {
            background: $warning-light;
          }

          .cancelled {
            background: $danger-light;
          }
        }

        .option {
          cursor: pointer;
        }
      }

      .activityRight {
        flex-direction: column;
        align-items: flex-end;
        gap: 0.2rem;
        display: flex;
        justify-content: space-evenly;

        .time {
          font-weight: 500;
          font-size: 12px;
        }

        .petTask {
          display: flex;
          font-size: 13px;
        }
      }
    }
  }
}

.isPage {
  max-height: calc(100% - 6rem);
}
