
@import '../../../styles/_variables.scss';

.status {
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  &.info {
    background: rgba($gray-700, 0.1);
    color: $gray-700;
    border: 1px solid $gray-700;
  }

  &.primary {
    background: rgba($primary, 0.1);
    color: $primary;
    border: 1px solid $primary;
  }

  &.success {
    background: rgba($success, 0.1);
    color: darken($success, 10%);
    border: 1px solid $success;
  }

  &.danger {
    background: rgba($danger, 0.1);
    color: darken($danger, 10%);
    border: 1px solid $danger;
  }

  &.warning {
    background: rgba($warning, 0.1);
    color: darken($warning, 10%);
    border: 1px solid $warning;
  }
}
