.sidebar {
  width: 16rem;
  height: 100dvh;
  height: 100vh;
  background: #FFFFFF;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sidebarItem, .sidebarBottomItem {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    border-radius: 0.2rem;

    &:hover {
      background: #364c5c;
      cursor: pointer;
    }
  }

  .sidebarItem.active {
    background: #364c5c;
  }

  .sidebarItem {
    align-items: start;
  }

  .sidebarBottomItem {
    align-items: end;
  }
}