@import '../../../styles/_variables.scss';

.revenueChart {
  width: 100%;
  min-height: 400px;
  max-width: 800px;
  margin: auto;
  background: $white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: $box-shadow-card;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  h4 {
    color: $text-muted;
  }

  canvas {
    display: block;
    width: 100%;
    height: auto;
  }
}
