@import '@/styles/variables';

.appointments {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.headerTitle {
  font-weight: 700;
  font-size: 2rem;
}

.appointmentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datePicker {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.select {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.clearButton {
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  font-size: 1rem;
}

.tableWrapper {
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.searchContainer {
  width: 30%;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.filtersRight {
  display: flex;
  align-items: center;
  gap: 1rem;
}
