.header {
  background: #ffffff;

  .headerWrapper {
    height: 3.5rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;

    .headerLeft,
    .headerRight {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 50%;
    }

    .headerLeft {
      justify-content: space-between;
    }

    .headerRight {
      justify-content: flex-end;

      .user {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .name {
          font-size: 12px;
        }
        .role {
          font-size: 10px;
        }
      }
    }
  }
}

.header .brandWrapper {
  display: none;
}

@media screen and (max-width: 1024px) {
  .headerWrapper {
    padding: 1rem 1rem 1rem 0;

    .headerLeft {
      width: 100%;
    }
  }
  .header .brandWrapper {
    display: block;
  }
}

@media screen and (width: 1025px) {
  .headerWrapper .brandWrapper {
    display: none;
  }
}
