@import '@/styles/variables';

.header {
  background: $white;
  box-shadow: $box-shadow-popup;

  .headerWrapper {
    height: 3.5rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;

    .brand {
      color: $blue-active;
      font-weight: 700;
    }

    .headerLeft,
    .headerRight {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .headerLeft {
      justify-content: space-between;
    }

    .headerRight {
      justify-content: flex-end;

      .notification {
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding: 4px;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 0.8;
        }
      }

      .count {
        color: $white;
        z-index: 1;
        justify-content: center;
        align-items: center;
        min-width: 16px;
        height: 16px;
        font-size: 10px;
        font-weight: 600;
        display: flex;
        position: absolute;
        top: 4px;
        right: 1px;
        box-shadow: $box-shadow;
        background: $danger;
        border-width: 2px;
        border-style: solid;
        border-color: $white;
        border-image: initial;
        border-radius: 8px;
        padding: 0px 4px;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;
        border-left: 1px solid $border-light;

        .userInitials {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          font-size: 10px;
          font-weight: 600;
          text-transform: uppercase;

          &.userLoggedIn {
            background-color: $blue-active;
          }

          &.userGuest {
            background-color: $gray-200;
          }
        }

        .name {
          font-size: 12px;
        }
        .role {
          font-size: 10px;
        }
      }
    }
  }
}

.header .brandWrapper {
  display: none;
  cursor: pointer;

  .logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .headerRight {
    .userDetails {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .header .brandWrapper {
    display: flex;

    .logo {
      display: block;
    }
  }
}

@media screen and (max-width: 1024px) {
  .headerWrapper {
    padding: 1rem 1rem 1rem 0;

    .headerLeft {
      width: 50%;
    }
  }
  .header .brandWrapper {
    display: flex;
    gap: 0.2rem;
    color: $blue-active;
  }
}

@media screen and (min-width: 1025px) {
  .headerWrapper .brandWrapper {
    display: none;
  }

  .headerWrapper .headerLeft {
    width: 30%;
  }
}

.popupContainer {
  position: relative;
  display: inline-block;
}
