.header {
  background: #ffffff;
  box-shadow: 10px 5px 10px #0c0d0d0d;

  .headerWrapper {
    height: 3.5rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;

    .brand {
      color: #3b82f6;
      font-weight: 700;
    }

    .headerLeft,
    .headerRight {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 50%;
    }

    .headerLeft {
      justify-content: space-between;
    }

    .headerRight {
      justify-content: flex-end;

      .user {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0 1rem;
        padding: 0 1rem;
        border-left: 1px solid #3b82f6;

        .name {
          font-size: 12px;
        }
        .role {
          font-size: 10px;
        }
      }
    }
  }
}

.header .brandWrapper {
  display: none;

  .logo {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header .brandWrapper {
    display: flex;

    .logo {
      display: block;
    }
  }
}

@media screen and (max-width: 1024px) {
  .headerWrapper {
    padding: 1rem 1rem 1rem 0;

    .headerLeft {
      width: 100%;
    }
  }
  .header .brandWrapper {
    display: flex;
    gap: 0.2rem;
    color: #3b82f6;
  }
}

@media screen and (width: 1025px) {
  .headerWrapper .brandWrapper {
    display: none;
  }
}
