@import '@/styles/variables';

.metrics {
  padding: 1rem;
  border-radius: 10px;
  background: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: $box-shadow-card;
  gap: 1rem;
  cursor: pointer;
  transition: $transition-base;

  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    p {
      font-size: 13px;
      font-weight: 600;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    color: $text-muted;
  }

  p {
    font-size: 12px;
    font-weight: 500;
    color: $text-light;
  }
}

@media screen and (max-width: 600px) {
  .metrics {
    align-items: center;
    .label {
      flex-direction: column-reverse;
      gap: 0.5rem;
    }
  }
}
