
.tableWrapper {
  border-radius: 10px;
  background: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  .tableDescription {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;

    .iconWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      padding: 0.5rem;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: #f0f0f0;

      tr {
      }
    }

    th {
      padding: 1.5rem;
      text-align: center;
      font-weight: 600;

      &:first-child {
        border-top-left-radius: 10px;
      }

      &:last-child {
        border-top-right-radius: 10px;
      }
    }

    tbody {
      tr {
      }
    }

    td {
      padding: 1.5rem;
      border-bottom: 1px solid #e0e0e0;
    }

    tr {
      border-radius: 10px;
    }
  }
}