.card {
  padding: 1rem;
  border-radius: 10px;
  background: #FFFFFF;
  text-align: center;
  color: #c3c3c3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    text-align: left;
  }
}